<div class="form-field">
	<label>Name:</label>
	<div>
		<input type="text" placeholder="Name" @bind-value="Address.Name" />
		<ValidationMessage For="@(() => Address.Name)" />
	</div>
</div>

<div class="form-field">
	<label>Line 1:</label>
	<div>
		<input type="text" placeholder="Line1" @bind-value="Address.Line1" />
		<ValidationMessage For="@(() => Address.Line1)" />
	</div>
</div>

<div class="form-field">
	<label>Line 2:</label>
	<div>
		<input type="text" placeholder="Line2" @bind-value="Address.Line2" />
		<ValidationMessage For="@(() => Address.Line2)" />
	</div>
</div>

<div class="form-field">
	<label>City:</label>
	<div>
		<input type="text" placeholder="City" @bind-value="Address.City" />
		<ValidationMessage For="@(() => Address.City)" />
	</div>
</div>

<div class="form-field">
	<label>Region:</label>
	<div>
		<input type="text" placeholder="Region"  @bind-value="Address.Region" />
		<ValidationMessage For="@(() => Address.Region)" />
	</div>
</div>

<div class="form-field">
	<label>Postal code:</label>
	<div>
		<input type="text" placeholder="Postal Code"  @bind-value="Address.PostalCode" />
		<ValidationMessage For="@(() => Address.PostalCode)" />
	</div>
</div>

@code {
	[Parameter, EditorRequired] public Address Address { get; set; } = new();
}